<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @team.rating %>
</p>

<p>
  <strong>Division:</strong>
  <%= @team.division %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
