<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @player.rating %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
